@import "scss/variable";
@import "scss/general";
@import "scss/auth";
@import "scss/sidebar";
@import "scss/header";
@import "scss/table";
@import "scss/basic";
@import "scss/links";
@import "scss/form";
@import "scss/property";
