.auth-page {
	height: 100vh;
	overflow: hidden;
	display: flex;

	.cover-1 {
		width: 40%;
		background: $brand-color;
		height: 100%;
		background-size: cover;
		display: flex;
		justify-content: center;
		align-items: center;

		@media (max-width: 991px) {
			display: none;
		}
	}
	.cover-2 {
		width: 60%;
		background: #f0f0f0;
		height: 100%;
		position: relative;

		@media (max-width: 600px) {
			padding: 0;
			padding: 10px 20px !important;
		}

		@media (max-width: 991px) {
			width: 100%;
			padding: 10px 50px;
		}

		@media (min-width: 991px) {
			padding: 10% 8%;
		}

		.auth-form {
			@media (max-width: 650px) {
				padding: 30px 20px 70px 20px;
			}
			@media (max-width: 991px) {
				margin-top: 50px;
			}

			z-index: 9991;
			background: #fff;
			padding: 30px 100px 80px 100px;
			border-radius: 10px;

			.content {
				text-align: center;

				.logo {
					margin-bottom: 30px;

					@media (min-width: 991px) {
						display: none;
					}
				}

				.title {
					margin-bottom: 30px;
					h3 {
						margin-bottom: 20px;
					}
					p {
						font-size: 0.9rem;
					}
				}

				input {
					display: block;
					width: 100%;
					margin-bottom: 20px;
					outline: 0;
					border: 1px solid rgba(0, 0, 0, 0.3);
					box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.16);
					height: 50px;
					background: #fff;
					padding-left: 20px;
					border-radius: 3px;
				}
				.pass {
					position: relative;
					width: 100%;

					svg {
						position: absolute;
						cursor: pointer;
						top: 35%;
						right: 20px;
					}
				}

				button {
					width: 100%;
					display: block;
					background: $brand-color;
					color: #fff;
					padding: 10px 0;
					border: 0;
					outline: 0;
					border-radius: 3px;
					margin-top: 40px;
				}
			}
		}
	}

	.otp-form {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
}
