.agents {
	padding-top: 40px;

	.menu {
		display: flex;
		align-items: center;
		justify-content: space-between;

		@media (max-width: 991px) {
			flex-direction: column;
			align-items: flex-start;

			.search {
				margin-top: 20px;
				width: 100%;

				input {
					width: 100% !important;
				}
			}
		}

		.tab {
			border-bottom: 1px solid rgba(0, 0, 0, 0.1);
			min-width: 300px;

			span {
				margin-right: 20px;
				display: inline-block;
				cursor: pointer;
				color: #686868;
				font-weight: 600;
				padding-bottom: 5px;
				padding-left: 10px;
				padding-right: 10px;

				&.active {
					color: #0037ba;
					border-bottom: 2px solid #0037ba;
				}
			}
		}
		.search {
			position: relative;
			input {
				background: #ffffff;
				border: 2px solid #e5e7eb;
				width: 300px;
				height: 40px;
				outline: 0;
				padding-left: 10px;
				border-radius: 5px;
			}
			svg {
				color: $brand-color;
				position: absolute;
				right: 20px;
				top: 10px;
			}
		}
	}

	.lists {
		margin-top: 30px;

		.box {
			background: #fff;
			border-radius: 5px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 20px 10px;
			cursor: pointer;

			p {
				text-align: center;
			}

			.initials {
				background: $brand-color;
			}
			.rank {
				color: #4b0afa;
			}

			.initials {
				padding: 10px;
				border-radius: 3px;
				span {
					display: inline-block;
					font-size: 2rem;
					font-weight: bold;
					color: #fff;
				}
			}
			p {
				margin: 0;
				padding: 0;
				font-weight: 600;
				margin-top: 15px;
			}
			.rank {
				font-size: 0.8rem;
				text-transform: capitalize;
			}
			.mail {
				margin-top: 15px;
				display: flex;
				align-items: center;

				svg {
					color: $brand-color;
					margin-right: 5px;
				}
			}
		}
	}
	.paginate {
		margin-top: 20px;
		margin-bottom: 20px;

		@media (min-width: 991px) {
			float: right;
		}
	}
}

.record-details {
	padding-top: 20px;

	.back {
		margin-bottom: 20px;
		button {
			background: none;
			border: 0;
			outline: 0;
			font-weight: 600;

			span {
				margin-left: 10px;
			}
		}
	}

	.detail-card {
		background: #fff;
		border-radius: 4px;

		@media (min-width: 1200px) {
			width: 90%;
		}

		.ul {
			padding: 20px 0 20px 40px;
			ul {
				margin: 0;
				padding: 0;
				list-style: none;

				li {
					margin-bottom: 10px;
					width: 80%;

					&.active {
						a {
							background: $brand-color;
							color: #fff;
						}
					}

					a {
						display: block;
						text-decoration: none;
						color: #686868;
						padding: 8px 8px;
						border-radius: 2px;
					}
				}
			}
		}

		select {
			height: 45px;
			width: 100%;
			border: 1px solid rgba(0, 0, 0, 0.4);
			outline: 0;
			border-radius: 3px;
		}
	}
	.detail-card-2 {
		background: #fff;
		padding: 20px;
		border-radius: 4px;
	}
}

.profile {
	.initials {
		background: $brand-color;
		padding: 10px;
		border-radius: 3px;
		span {
			display: inline-block;
			font-size: 2rem;
			font-weight: bold;
			color: #fff;
		}
	}
	.status {
		p {
			margin: 0;
			padding: 0;

			&:first-child {
				color: #4b0afa;
			}
			&:last-child {
				font-size: 0.85rem;
				text-align: right;
			}
		}
		button {
			border: 1px solid $brand-color;
			color: $brand-color;
			outline: 0;
			background: none;
			font-size: 0.85rem;
			padding: 4px 15px;
			border-radius: 15px;
		}
	}
	.content {
		margin-bottom: 25px;
		margin-top: 20px;
		p {
			text-transform: capitalize;
		}
	}
	.form {
		margin-top: 30px;

		input {
			width: 100%;
			display: block;
			outline: 0;
			border: 1px solid rgba(0, 0, 0, 0.1);
			height: 45px;
			border-radius: 4px;
			font-size: 0.9rem;
			color: #1f2937;
			padding-left: 15px;
		}

		label {
			display: inline-block;
			font-size: 0.9rem;
			color: #797979;
		}
	}
	.align-btn {
		text-align: right;
		margin-top: 20px;
		button {
			background: $brand-color;
			color: #fff;
			font-size: 0.9rem;
			font-weight: 600;
			padding: 10px 40px;
			border-radius: 25px;
			outline: 0;
			border: 0;
			text-transform: uppercase;
		}
	}
}
