.form {
	input,
	select,
	textarea {
		width: 100%;
		width: 100%;
		margin-bottom: 15px;
		outline: 0;
		border: 1px solid rgba(0, 0, 0, 0.3);
		box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.16);
		height: 45px;
		background: #fff;
		padding-left: 20px;
		border-radius: 3px;
	}

	textarea {
		height: 200px !important;
		padding-top: 15px;

		&.short {
			height: 100px !important;
		}
	}

	input[type="checkbox"] {
		width: 15px;
		height: 15px;
		box-shadow: none;
		display: inline-block;
	}
	select {
		font-size: 0.9rem;
	}
	label {
		font-size: 0.8rem;
		font-weight: 600;
		margin-bottom: 5px;
		display: inline-block;
	}
	p.value {
		margin: 0;
		padding: 0;
		font-weight: 600;
		font-style: italic;
	}
	p.alert {
		margin: 0;
		padding: 0;
		margin-bottom: 20px;
		font-size: 0.9rem;
		font-style: italic;
		color: $brand-color;
		display: flex;
		align-items: center;

		span {
			margin-left: 5px;
		}
	}
	a.desc {
		text-decoration: none;
		color: $brand-color;
		font-size: 0.9rem;
	}
}

.checks {
	display: flex;
	flex-wrap: wrap;

	.check {
		margin-bottom: 10px;
		margin-right: 15px;
		align-items: center;

		span {
			margin-left: 5px;
		}
	}
}

.fixed-search {
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
	width: 400px;
	background: #fff;
	z-index: 99991;
	padding: 30px 20px;

	@media (max-width: 600px) {
		width: 300px;
	}

	.result {
		padding-top: 20px;
		border-top: 1px solid rgba(0, 0, 0, 0.16);
		.result-box {
			border: 1px solid $brand-color;
			padding: 15px;
			border-radius: 5px;
			cursor: pointer;

			p {
				margin: 0;
				padding: 0;
				font-size: 0.9rem;

				&:last-child {
					color: $brand-color;
					text-transform: uppercase;
					font-weight: 600;
					font-size: 0.8rem;
				}
			}
		}
	}
}
