body {
	font-family: "Inter", sans-serif;
	background: #f0f0f0;
}

.main-page {
	position: relative;
	display: block;
	clear: both;
	float: unset;
	right: 0;
	margin: 0 auto 0 270px;
	min-height: 100vh;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	margin-bottom: 70px !important;

	@media (max-width: 991px) {
		margin: 0px;
	}
}

.app-content {
	position: relative;
	top: 70px;
	overflow-x: hidden;

	@media (max-width: 991px) {
		padding-left: 2.5%;
		padding-right: 2.5%;
	}

	@media (min-width: 991px) {
		padding-left: 2%;
		padding-right: 2%;
		padding-top: 10px;
	}
}

.basic-card {
	background: #fff;
	padding: 15px;
	border-radius: 3px;

	&.remove {
		padding: 0 !important;
	}
}

.analytics {
	.move {
		margin-top: 5%;
	}
	.box {
		border: 1px solid rgba(0, 0, 0, 0.2);
		background: #fff;
		box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
		padding: 30px 20px;
		display: flex;
		justify-content: space-between;
		border-right: 3px solid $brand-color;
		border-radius: 20px;
		cursor: pointer;

		h4,
		p {
			margin: 0;
			padding: 0;
		}

		h4 {
			font-size: 3rem;
		}

		p {
			margin-top: 10px;
		}

		svg {
			font-size: 1.3rem;
		}

		&.brown {
			h5,
			svg {
				color: #d27c2c;
			}
		}
		&.purple {
			h5,
			svg {
				color: #5b3683;
			}
		}
		&.blue {
			h5,
			svg {
				color: $brand-color;
			}
		}
		&.green {
			h5,
			svg {
				color: #0d6c15;
			}
		}
		&.red {
			h5,
			svg {
				color: #ff0000;
			}
		}
		&.click {
			cursor: pointer;
			position: relative;

			.pos {
				position: absolute;
				top: 40%;
				right: 20px;
			}
		}
	}
}

.table-report {
	.box {
		border: 1px solid rgba(0, 0, 0, 0.2);
		background: #fff;
		box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
		padding: 30px 20px;
		border-right: 3px solid $brand-color;
		border-radius: 10px;

		p {
			margin: 0;
			padding: 0;
			font-size: 0.9rem;
		}

		.money,
		.title {
			display: flex;
			align-items: center;

			p {
				&:first-child {
					width: 40%;
				}
				&.bold {
					font-size: 1.2rem;
				}
			}
		}
	}
}

.page-cover {
	padding-top: 100px;
	height: 100vh;
	background: $brand-color;

	.box-page {
		background: #fff;
		padding: 50px 30px;
		border-radius: 6px;
		border: 1px solid rgba(0, 0, 0, 0.15);

		button {
			background: $brand-color;
			border: 0;
			outline: 0;
			padding: 10px 30px;
			border-radius: 3px;
			color: #fff;
		}
	}
}

button.back {
	display: inline-block;
	margin-bottom: 20px;
	color: $brand-color;
	border: 0;
	outline: 0;
	background: none;
	font-size: 1rem;
	display: flex;
	align-items: center;

	svg {
		font-size: 1.6rem;
	}

	span {
		margin-left: 5px;
	}
}

.initials {
	background: $brand-color;
	width: 60px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 2rem;
}

.b-details {
	label {
		font-size: 0.85rem;
		font-weight: 600;
		color: $brand-color;
	}
	p {
		margin: 0;
		padding: 0;
	}
}
