.header {
	border-bottom: 1px solid #e0e0e0;
	display: flex;
	justify-content: space-between;
	padding: 12px 20px;
	align-items: center;
	align-content: center;
	background: #fff;
	position: fixed;
	right: 0;
	left: 270px;
	z-index: 991;

	@media (max-width: 991px) {
		background: $brand-color;
		color: #fff;
		left: 0;
	}

	.first {
		display: flex;
		align-items: center;

		.title {
			text-transform: capitalize;
			font-size: 1.1rem;
			padding: 0;
			margin: 0;

			@media (max-width: 991px) {
				display: none;
			}
		}

		button {
			border: 0;
			background: none;
			outline: 0;
			margin-right: 20px;
			color: #fff;

			@media (min-width: 991px) {
				display: none;
				margin-right: 10px;
			}
		}
		img {
			height: 30px;
			@media (min-width: 991px) {
				display: none;
			}
		}
	}

	.second {
		display: flex;
		align-items: center;

		a.profile {
			color: #000;
		}

		.profile-user {
			background: #fff;
			border: 1px solid rgba(0, 0, 0, 0.2);
			padding-left: 15px;
			padding-top: 15px;
			ul {
				margin: 0;
				padding: 0;
				list-style: none;

				li {
					margin-bottom: 10px;

					a {
						color: rgba(0, 0, 0, 0.8);
						text-decoration: none;
						display: flex;
						align-items: center;

						span {
							margin-left: 10px;
						}
					}
				}
			}
		}

		a.notify {
			display: inline-flex;
			margin-right: 60px;
			background: rgba(0, 55, 186, 0.13);
			height: 30px;
			width: 30px;
			border-radius: 50%;
			align-items: center;
			justify-content: center;

			@media (max-width: 991px) {
				background: rgba(255, 255, 255, 0.13);
				color: #fff;
				margin-right: 10px;
			}
		}

		.user {
			display: flex;
			align-items: center;

			@media (max-width: 991px) {
				div {
					display: none;
				}
			}
			img {
				height: 35px;
				display: inline-block;
				margin-left: 10px;
			}
			p {
				margin: 0;
				padding: 0;
				font-size: 0.8rem;

				&:first-child {
					font-weight: 600;
				}

				&:last-child {
					text-align: right;
				}
			}
		}
	}
}
