.sidebar {
	width: 270px;
	height: 100vh;
	position: fixed;
	z-index: 1029;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	font-size: 0.9rem;
	background-color: $brand-color;
	overflow-y: auto;

	@media (max-width: 991px) {
		margin-left: -270px;
		height: 100% !important;
		padding-bottom: 50px !important;

		&.open-m {
			margin-left: 0;
		}
	}

	.logo {
		height: 100px;
		padding-top: 25px;
		padding-left: 30px;

		img {
			height: 35px;
		}
		@media (max-width: 991px) {
			display: none;
		}
	}

	.menu {
		@media (max-width: 991px) {
			margin-top: 50px;
		}

		ul {
			list-style: none;
			padding: 0;
			margin: 0;

			li {
				margin-bottom: 15px;

				&.dropdown {
					a {
						span.icon {
							margin-left: 30px;
						}
					}
					ul {
						margin-left: 50px;
						li {
							margin-bottom: 5px;

							a {
								padding: 10px 0;
								text-transform: capitalize;

								svg {
									margin-right: 10px;
								}
							}
						}
					}
				}

				a {
					color: #fff;
					text-decoration: none;
					display: block;
					width: 100%;
					padding-left: 30px;
					padding-top: 15px;
					padding-bottom: 15px;

					&:hover,
					&.active {
						background: rgba(255, 255, 255, 0.15);
						border-left: 5px solid #ffffff;
					}

					svg {
						margin-right: 20px;
					}

					span {
						text-transform: capitalize;
					}
				}
			}
		}
	}
}
